<!DOCTYPE html>
<html>
<head>
	<title>WhereIsIt</title>
</head>
<body>
	<h1>Upload your image</h1>
	<form method="post" action="/find" enctype="multipart/form-data">
	  	<input type="file" name="file" />	
	  	<input type="hidden" name="test" value="test value"/>
	  	<button type="submitt">Submit</button>
	</form>
</body>
</html>