<section class="input-form">
	<p>Find out where on earth that picture was taken.</p>

	<form method="post" action="{{abs "/"}}" enctype="multipart/form-data">
		<label class="input-form-fileButton"> 
			<input 
				type="file" 
				name="file" 
				style="visibility: hidden; position: absolute" 
				onchange="this.form.submit();"
			/>	
			Choose a file...
		</label>
	</form>
</section>
