<section>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>	
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>	

	<p>Here are a few possibilities:</p>
	<ol class="descriptions"></ol>

	<div id="map"></div>

	<script type="text/javascript">
		var map = L.map('map').setView([0,0], 1);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		const points = {{{json markers}}};
		const markers = points.map((point, idx) => {
			const marker = L.marker([ point.latitude, point.longitude ])
				.addTo(map)
				.bindPopup(point.description);

			if (idx === 0) marker.openPopup()
			return marker;
		})
		var group = new L.featureGroup(markers);
		map.fitBounds(group.getBounds());


		const frag = document.createDocumentFragment();
		points.forEach(m => {
			const desc = document.createElement("li");
			desc.appendChild(document.createTextNode(m.description));
			const flag = document.createElement("img");
			flag.classList.add("flag");
			flag.setAttribute("src", "{{abs "/static/flags/"}}" + m.cc.toLowerCase() + ".png");
			desc.appendChild(flag);

			const confidence = " ( " + Math.round(m.confidence * 100) + "% confidence )"
			desc.appendChild(document.createTextNode(confidence));
			frag.appendChild(desc);
		});
		document.querySelector(".descriptions").appendChild(frag);
	</script>
</section>
