html, body {
    margin: 0;
    height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

section {
	max-width: 600px;
	margin: auto;
}

#map {
	width: 600px;
	height: 400px;
}

/* FORM */

.navbar {
	padding: 1px;
}

.input-form {
	text-align: center;
    padding: 100px 0;
}

.input-form-fileButton {
    display: inline-block;
    padding: 20px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.input-form-fileButton:hover {
	cursor: pointer;
}

.input-form-fileButton:active {
	transform: scale(.98);
}

.input-form-fileButton:focus {
	outline: 1px solid blue;
}

