<!DOCTYPE html>
<html>
<head>
	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-68439335-5"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-68439335-5');
	</script>

    <meta charset="utf-8">
    <title>Where Is This?</title>
    <link rel="stylesheet" type="text/css" href="{{abs "/static/style.css"}}">
</head>
<body>
	<nav class="navbar">
		<section> 
			<a href="{{abs "/"}}" class="navbar-title">
				<h1>Where Is This?</h1>
			</a>
		</section>
	</nav>
    {{{body}}}
</body>
</html>