<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-68439335-5"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-68439335-5');
	</script>

    <title>Where Is This?</title>
    <meta name="description" content="Find out where on earth that picture was taken.">
    <meta name="author" content="Marcelo Lazaroni"/>
    <meta name="title" content="Where Is This?"/>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link rel="stylesheet" type="text/css" href="{{abs "/static/style.css"}}">
</head>
<body>
	<div class="wrapper">
		<nav class="navbar">
			<section> 
				<a href="{{abs "/"}}" class="navbar-title">
					<h1>Where Is This?</h1>
				</a>
			</section>
		</nav>
	    {{{body}}}

	    <footer>
	    	<p>This project is based on the paper <a href="https://ai.google/research/pubs/pub45488">PlaNet - Photo Geolocation with Convolutional Neural Networks</a> by Tobias Weyand, Ilya Kostrikov and James Philbin</p>

	    	<p>We use J. Randall Hunt's implementation in <a href="https://github.com/ranman/WhereML">WhereML</a></p>

	    	<p style="text-align: center">
			    Build with love by <a href="http://lazamar.github.io/about/">@lazamar</a>	
			</p>
	    </footer>
	</div>
</body>
</html>